@media screen and (max-width ) {
    div h1 p{
        width: 100%;
    }
}
body{
    margin: 0 auto;
}

.cabeçalho{
    font-family: MISFITS;
    font-size: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.carousel p{
color: black;
font-size: 16px;
}
.carousel h5{
    color: #1fa1c4;
    font-size: 30px;
}
.resumo{
    background: url(../img/fundo\ 2.png);
    background-size: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 0;   
}
.texto-resumo{
    color: white;
    margin-left: 26%;
    margin: 0 auto;
    width: 50%;
    position: relative;
    padding: 5%;
}
.texto-resumo h1{
    font-size: 75px;  
}
.texto-resumo p{
    font-size: 27px;
}
#curiosidades{
    background: url(../img/fundo.png);
}
.personalidades{
    background-color: black;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 25px;
}
.fim{
    background-color: black;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 25px;
}
#p1{
    display: none;
}
#p2{
    display: none;
}
#p3{
    display: none;}
#p5{
        display: none;
    }
#p4{
        display: none;}
#p1 h2{
    color: #8FFF8F;
}
#p2 h2{
    color: #FFEA00;
}
#p3 h2{
    color: #FF62B0;
}
#p4 h2{
    color: #FF0E06;
}
#p5 h2{
    color: #1fa1c4;
}
.mascara{
    font-size: 65px;
    background-image: url(../img/hack.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
.rodape{
    height: 20px;
    background-color: #303030;
    color: #B3B3B3;
    position: relative;
    text-align: center;
    font-size: 12px ;
    
    
}
.rodape p{
    margin-left: 50px;
   
}    



